@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap");
:root {
    --main-bg-colour: #FFF;
    --banner-bg-colour: #03DA74;
    --nav-text-colour: #02763F;
    --table-border-colour: rgba(0,0,0,0.2);
}

* {
    margin: 0;
}
*, :before, :after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
}

body {
    line-height: 1.9;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    background-color: var(--main-bg-colour);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p, pre, ul {
    margin: 1em 0;
}

h1 {
    font-weight: 200;
    font-size: 8em;
    color: var(--main-bg-colour);
    line-height: 1;
    margin-bottom: 2rem !important;
}
/*
section {
    padding-top: 3rem;
}
*/
.container {
    max-width: 80.0rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}
.row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.centered {
    margin: 0 auto;
}
.full-width {
    width: 100%;
}
#nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: var(--banner-bg-colour);
    z-index: 100;
    display: flex;
    justify-content: center;   
}
.main-nav {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--nav-text-colour);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80em;
}

.main-nav a {

    float: left;
    display: block;
    padding: 1em 1.1em;
    text-decoration: none;
    color: var(--main-bg-colour);
}

.main-nav a.active, .main-nav a.active:hover {
    cursor: default;
    color: var(--nav-text-colour);
}
.main-nav a.active, .main-nav a:hover  {
    text-decoration: underline solid 0.2em;
    text-underline-offset: 0.5em;
    
}

.main-nav .icon {
    display: none;
}
#banner {
    background-color: var(--banner-bg-colour);
    /*
    background-image: url('../images/light.png');
    background-repeat: no-repeat;
    background-position: 331px 400px;*/
    height: 100vh;
}
#banner .container {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    position: relative;
    overflow:hidden;
}
#logo-img {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 2;
}
#light-img{
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    margin-right: -13%;
    bottom: -30%;
    height: 125%;
    min-width: 450px;
    min-height: 747px;

}
.profile_img {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.main-section {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.main-section h2 {
    font-size: 3.5rem;
    font-weight: 300;
    transition: color 500ms;
}
.main-section h2:hover {
    cursor: pointer;
    color: #000;
}
.main-section h2.open {
    color: #000;
    font-weight: 600;
    cursor: default;
}
.main-section h3 {
    font-size: 2.5rem;
    font-weight: 300;
}
.main-section h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.main-section p {
    margin-top: 0;
}
.accordian {
    cursor: pointer;
}
.accordian-content {
    display: none;
    overflow: hidden;
    padding: 0 18px;
}
.accordian-active {
    display: block;
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}
#team {
    list-style: none;
    padding: 0;
}
#bigfive {
    border-collapse: collapse;
    border: 1px solid var(--table-border-colour);
    width: 100%;
}
#bigfive th, #bigfive td {
    padding: 1.4rem;
    border: 1px solid var(--table-border-colour);
    text-align: center;
}
#bigfive th {
    font-weight: 700;
}

footer {
    background-color: #444;
    margin-top: 3rem;
}
footer .container {
    text-align: center;
    color: var(--main-bg-colour);
    padding: 1.5rem;
}
.section-title {
    color: #BBB;
}
.fa {
    pointer-events: none !important;
}
table caption {
    font-size: 1.5em;
    margin-bottom: 1.3em;
    font-weight: 600;
}
table.team-jobs, table.job-info, table.meetings {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    table-layout: fixed;
}
table.team-jobs th, table.team-jobs td, table.job-info th, table.job-info td, table.meetings th, table.meetings td {
    vertical-align: middle;
    padding: 1.7em 0;
    text-align: center;
    border: 1px solid #DDD;
}
table.team-jobs th, table.job-info th, table.meetings th {
    background: #444;
    font-size: 1.2em;
    color: #FFF;
}
@media screen and (max-width: 576px) {
    .main-nav {
        position: relative;
        padding-top: 1.5em;
    }
    .main-nav a {
        display: none;
    }
    .main-nav a.icon {
        display: block;
        position: absolute;
        top: 0;
        left: 1.3em;
        padding: 0;
    }
    .main-nav.responsive {
        position: relative;
        display: block;
        padding: 0;
        
    }
    .main-nav.responsive a {
        float: none;
        display: flex;
        flex:100%;
    }
  }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}

@media print {
    @page {
        size: A4;
        maring: 2.5cm;
    }
    
    @page :header {
        display: none;
    }
    @page :foooter {
        display: none;
    }
    .main-nav, header, footer, #banner {
        display: none;
    }
    body {
      font-size: 12pt;
      background-color: #FFF;
      counter-reset: page;
    }
    .main-section {
        font: inherit;
        height: 100%;
        position: relative;
    }

    .main-section h2 {
        color: rgb(35, 154, 156) !important;
        font-weight: 600 !important;
        font-size: 28pt;
        page-break-before: always;
    }
    .main-section h3 {
        font-size: 18pt;
        font-weight: 400 !important;
    }
    .main-section h4 {
        font-size: 16pt;
        font-weight: 400 !important;
    }
    /*Adjust all header sizes to look better for print using pt units*/
    h1 {
        
    }

    .main-section::after {
        counter-increment: page;
        content:"Page " counter(page);
        transform: translate(-50%,0);
        left: 50%;
        white-space: nowrap; 
        z-index: 20;
        bottom: 0;
        position: absolute;
    }
    .content.hidden {
        display: block;
    }

}
