@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap");
:root {
    --main-bg-colour: #EDf5e1;
    --banner-bg-colour: #5cdb95;
    --nav-text-colour: #05386B;
    --table-border-colour: rgba(0,0,0,0.2);
}

* {
    margin: 0;
}
*, :before, :after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-colour);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p, pre, ul {
    margin: 1em 0;
}

h1 {
    font-weight: 200;
    font-size: 8em;
    color: var(--main-bg-colour);
    line-height: 1;
    margin-bottom: 2rem !important;
}
section {
    padding-top: 3rem;
}
.container {
    max-width: 80.0rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}
.row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.centered {
    margin: 0 auto;
}
.full-width {
    width: 100%;
}
#nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: var(--banner-bg-colour);
}
.main-nav {
    font-weight: 600;
    font-size: 1rem;
    padding: 2rem 0;
    color: var(--nav-text-colour);
    overflow: hidden;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    width: 80rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.main-nav a {
    float: left;
    display: block;
    margin: 0 0.8em;
    padding: 0.5em;
    text-decoration: none;
    color: inherit
}
.main-nav a.active {
    color: var(--main-bg-colour);
    text-decoration: underline solid 0.2em;
    text-underline-offset: 0.3em;
    cursor: default;
}
.main-nav a:hover {
    text-decoration: underline solid 0.2em;
    text-underline-offset: 0.3em;
}
.main-nav .icon {
    display: none;
}
#banner {
    background-color: var(--banner-bg-colour);
}
#banner .container >* {
    margin: 0 auto;
    text-align: center;
}
.profile_img {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.main-section {
    font-size: 1.4rem;
}
.main-section h2 {
    font-size: 3.5rem;
    font-weight: 300;
}
.main-section h3 {
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.main-section h4 {
    font-style: italic;
    font-size: 1.2rem;
}

.accordian {
    cursor: pointer;
}
.accordian-content {
    display: none;
    overflow: hidden;
    padding: 0 18px;
}
.accordian-active {
    display: block;
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}
#bigfive {
    border-collapse: collapse;
    border: 1px solid var(--table-border-colour);
    width: 100%;
}
#bigfive th, #bigfive td {
    padding: 1.4rem;
    border: 1px solid var(--table-border-colour);
    text-align: center;
}
#bigfive th {
    font-weight: 700;
}

footer {
    background-color: #444;
    margin-top: 3rem;
}
footer .container {
    text-align: center;
    color: var(--main-bg-colour);
    padding: 1.5rem;
}
.section-title {
    color: #999;
}
.open {
    color: #000;
    font-weight: 600 !important;
}
@media screen and (max-width: 576px) {

    .main-nav a {
        display: none;
    }
    .main-nav .icon {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-nav.responsive {
        position: relative;
        display: block;
    }
    /*
    .main-nav.responsive a.icon {
        
    }*/
    .main-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}

@media print {
    @page {
        size: A4;
        maring: 2.5cm;
    }
    
    @page :header {
        display: none;
    }
    @page :foooter {
        display: none;
    }
    .main-nav, header, footer, #banner {
        display: none;
    }
    body {
      font-size: 12pt;
      background-color: #FFF;
      counter-reset: page;
    }
    .main-section {
        font: inherit;
        height: 100%;
        position: relative;
    }

    .main-section h2 {
        color: rgb(35, 154, 156) !important;
        font-weight: 600 !important;
        font-size: 28pt;
        page-break-before: always;
    }
    .main-section h3 {
        font-size: 18pt;
        font-weight: 400 !important;
    }
    .main-section h4 {
        font-size: 16pt;
        font-weight: 400 !important;
    }
    /*Adjust all header sizes to look better for print using pt units*/
    h1 {
        
    }


    .main-section::after {
        counter-increment: page;
        content:"Page " counter(page);
        transform: translate(-50%,0);
        left: 50%;
        white-space: nowrap; 
        z-index: 20;
        bottom: 0;
        position: absolute;
    }
    .content.hidden {
        display: block;
    }

}
